.child_cards {
    &__card {
        background-color: var(--col-grey-400);
        display: grid;
        place-content: center;
        width: 100%;
        height: 100%;
        font-size: var(--fs-700);
        font-weight: var(--fw-600);
    }
}