.child_cards {
    &__card {
        background-color: var(--col-grey-400);
        display: grid;
        place-content: center;
        height: 100%;
        font-size: var(--fs-700);
        font-weight: var(--fw-600);
        text-decoration: none;
        color: var(--col-black);
        padding: 1rem;
    }
}