.button {
    padding: 0.25em 2em;
    text-decoration: none;
    transition: background-color var(--transition), color var(--transition), border var(--transition);
    font-weight: var(--fw-900);
    font-size: var(--fs-400);
    letter-spacing: 1px;
    display: inline-block;
    align-self: start;
}

.button--sm {
    padding: 0.5em 1em;
}

.button-outline {
    border: 1px solid var(--col-grey-600);
    color: var(--col-grey-600);
    background-color: transparent;
    &:hover {
        background-color: var(--col-grey-600);
        color: var(--col-white);
    }
}

.button-primary {
    border: 1px solid var(--col-accent);
    background-color: var(--col-accent);
    color: var(--col-white);
    &:hover {
        background-color: var(--col-white);
        color: var(--col-accent);
    }
}

.wpcf7-select {
    @extend .form-select;
}
input[type=submit].wpcf7-submit {
    @extend .button;
    @extend .button-primary;

    border-radius: 0;
    width: auto;

    &:disabled {
        border: 1px solid var(--col-grey-200);
        background-color: var(--col-grey-200);
        &:hover {
            background-color: var(--col-grey-200);
            color: var(--col-white);
        }
    }

}

.wpcf7 {
    max-width: unset !important;
}

.form-label {
    font-weight: var(--fw-600);
}