.text-red-400,
.has-red-400-color {
    color: var(--col-red-400);
}

.bg-grey-100,
.has-grey-100-background-color {
    background-color: var(--col-grey-100);
}

.bg-grey-200,
.has-grey-200-background-color {
    background-color: var(--col-grey-200);
}

.bg-grey-400,
.has-grey-400-background-color {
    background-color: var(--col-grey-400);
}

.bg-grey-600,
.has-grey-600-background-color {
    background-color: var(--col-grey-600);
}

.text-grey-600,
.has-grey-600-color {
    color: var(--col-grey-600);
}

.text-black,
.has-black-color {
    color: var(--col-black);
}

