footer {

    position: relative;
    z-index: 1;

    // margin-top: 3rem;
    .container-xl {
        position: relative;
    }

    background-color: var(--col-grey-600);
    color: var(--col-white);
  
    font-size: var(--fs-300);

    .menu {
        list-style: none;
        padding-inline-start: 0;
        li {
            padding-bottom: 0.5rem;
        }
    }

    a {
        color: var(--col-white);
        text-decoration: none;
        &:hover {
            color: var(--col-accent);
        }
    }

    .fa-ul li {
        padding-bottom: 0.5rem;
    }

    .social_icons {
        display: flex;
        gap: 1rem;
        font-size: var(--fs-700);
        justify-content: center;
    }

    .colophon {
        background-color: var(--col-grey-900);
        padding-block: 1em;
        color: var(--col-white);
        font-size: var(--fs-100);
        a {
            color: var(--col-white);
            text-decoration: none;
            &:hover {
                color: var(--col-accent);
            }
        }
    }

    .footer {
        &__grid {
            display: grid;
            gap: 1rem;
            grid-template-areas: "logo" "forher" "forhim" "info" "findus";
            @media (min-width:576px) {
                grid-template-columns: repeat(2,1fr);
                grid-template-areas:
                    "logo logo"
                    "forher forher"
                    "forhim info"
                    "findus findus"
                ;
            }
            @media (min-width:992px) {
                grid-template-columns: repeat(5,1fr);
                grid-template-areas: "logo findus forher forher forhim info";
            }
        }
        &__title {
            font-size: var(--fs-400);
            color: var(--col-green-400);
            font-weight: var(--fw-600);
            margin-bottom: 0.5em;
        }

        &__findus {
            font-size: var(--fs-400);
            display: flex;
            gap: 0.5rem;
            text-decoration: none;
            i {
                align-self: center;
                font-size: 1.4rem;
            }
            div {
                font-weight: var(--fw-600);
            }
        }
    }

    #footer_logo {
        grid-area: logo;
        img {
            display: block;
        }
    }
    #footer_findus {
        grid-area: findus;
    }
    #footer_forher {
        grid-area: forher;
        @media (min-width:576px) {
            ul {
                columns: 2;
            }
        }
    }
    #footer_forhim {
        grid-area: forhim;
    }
    #footer_info {
        grid-area: info;
    }

}